<html>
    <head>
        <title>Labeeb Hasan Zaker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/animate1.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="100">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
          <div class="container">
              <a class="navbar-brand" href="#">Labeeb</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#intro" id="intro-tab">Introduction</a>
                  </li>
                  <li class="nav-item">
                    <a href="#projects" class="nav-link" id="project-tab">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a href="#skillset" class="nav-link" id="skills-tab">Skills</a>
                  </li>
                  <li class="nav-item">
                    <a href="#contact" class="nav-link" id="contact-tab">Contact Me</a>
                  </li>
                </ul>
                <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/labeeb-hasan-zaker/" target="_blank"><img src="/Images/LinkedIn_logo.png" style="width: 24px; height: 25px"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://github.com/zakerl" target="_blank"><img src="/Images/github_logo.svg" style="width: 24px; height: 25px"></a>
                  </li>
                </ul>
              </div>
          </div>
        </nav>
        <div class="container">
          <% if(success && success.length > 0){ %>
              <div class="alert alert-success" role="alert">
                  <%= success %>
              </div>
          <% } %>
        </div>
        <div class="cursor"></div>
  
  
    