<% include partials/header %>
  
<style>
    .card-header-none{
        opacity: 0
    }
    .card-header{
        opacity: 1;
        margin-left: 0;
        -webkit-animation:fade-in 2s ease-in; /* Safari & Chrome */
        -moz-animation:fade-in 2s ease-in; /* Firefox */
        -ms-animation:fade-in 2s ease-in; /* Internet Explorer */
        -o-animation:fade-in 2s ease-in; /* Opera */
        animation: fade-in 2s ease-in
    }
    @keyframes fade-in{
    0%{
        opacity: 0
    }
    100%{
        opacity: 1;
    }
    }
    .card-block-none{
        opacity: 0
    }
    .card-block{
        margin: 0px;
        -webkit-animation:fade-in 2s ease-in; /* Safari & Chrome */
        -moz-animation:fade-in 2s ease-in; /* Firefox */
        -ms-animation:fade-in 2s ease-in; /* Internet Explorer */
        -o-animation:fade-in 2s ease-in;
        animation: fade-in 2s ease-in
    }
    @keyframes fade-in {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .skills-image{
        transition: all 300ms;
    }
    .skills-image:hover{
        transform: scale(1.3);
    }
    body{
        background: black;
    }
    .btn-outline-danger:hover {
        color: white;
        background-color:white;
    }
</style>

<div class="container" style="width:700px; margin: auto;padding:0;">
    <div id="intro" style="padding-top: 50px">
            <div  class="card-transparent">
                    <div class="card-header-selector card-header-none" style="background-color: black;font-size: 20px;border-bottom: 0;padding-left: 0;">
                        <span>
                            <span style="font-size: 14px;text-align: left; color: #04C2C9">INTRODUCTION</span>     
                        </span>
                    </div> 
                    <div class="card-block-selector card-block-none" style="color: white">
                        <div style="font-size: 24px;">
                            I'm currently in my second year of Mechatronics Engineering at McMaster University. I have been coding for almost 2 years now, I really enjoy coding, collaborating with others and learning new approaches from them. In my leisure time, I enjoy programming, playing soccer, listening to technical podcasts and playing video games.
            
                            <p style="margin-top: 20px">You can also view my resume here:</p>
                            <a href="/Images/labeebzaker_resume.pdf" class="btn btn-outline-info" target="_blank"><i class="download icon"></i>View Resume</a>
                        </div>
                    </div> 
                </div>
    </div>
    <div id="projects" style="padding-top: 50px">
            <div class="card-transparent">
                    <div class="card-header-selector card-header-none" style="background-color: black;font-size: 20px;border: 0;padding-left: 0">
                        <span>
                            <span style="font-size: 14px;text-align: left; color: #04C2C9;">PROJECTS</span>      
                        </span>
                    </div> 
                    <div class="card-block-selector card-block-none" style="color: white;font-size: 15px">
                        <div class="row">
      
                            <div class="col-lg-12">
                                    <div class="containers">
                                            <img src="/Images/BloggersInc.PNG" style="height: 300px" class="image">
                                            <div class="overlay">
                                                <div class="text" style="display: inline-block;letter-spacing: 0;color: #04C2C9;font-family: 'Montserrat', sans-serif;font-weight: 600">
                                                    BloggersInc
                                                </div>
                                                <br>
                                                <div class="text">
                                                        <p style="line-height: 2.5rem; margin-top: 20px">
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black; font-family: 'Montserrat',sans-serif;">HTML5</span>
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">Javascript</span>
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">Node.JS</span>
                                                                <br>
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">Semantic UI</span>
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">MongoDB</span>
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">CSS3</span>
                                                                <br>
                                                                <a id="blogBtn" class="btn btn-info" style="margin-top: 10px;letter-spacing: 0px">Read more</a>
                                                        </p>
                                                </div>    
                                            </div>
                                    </div>
                            </div>
        
        
                            <div class="col-lg-12">
                                    <div class="containers">
                                            <img src="/Images/CampInsiders.PNG" style="height: 300px" class="image">
                                            <div class="overlay">
                                                <div class="text" style="display: inline-block;letter-spacing: 0;color: #04C2C9;font-family: 'Montserrat', sans-serif;font-weight: 600">
                                                    CampInsiders
                                                </div>
                                                <div class="text">
                                                        <p style="line-height: 2.5rem; margin-top: 20px">
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">HTML5</span>
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">Javascript</span>
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">Node.JS</span>
                                                                <br>
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">Bootstrap4</span>
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">MongoDB</span>
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">CSS3</span>
                                                                <br>
                                                                <a id="CampBtn" class="btn btn-info" style="margin-top: 10px;letter-spacing: 0px">Read more</a>
                                                        </p>
                                                </div>    
                                            </div>
                                    </div>
                            </div>
        
                        </div>
                        <div class="row" style="margin-top: 20px">
        
                            <div class="col-lg-12">
                                    <div class="containers">
                                            <img src="/Images/GameCon.PNG" style="height: 300px" class="image">
                                            <div class="overlay">
                                                <div class="text" style="display: inline-block;letter-spacing: 0;color: #04C2C9;font-family: 'Montserrat', sans-serif;font-weight: 600">
                                                    GameCon
                                                </div>
                                                <div class="text">
                                                        <p style="line-height: 2.5rem; margin-top: 20px">
                                                            <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">HTML5</span>
                                                            <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">Javascript</span>
                                                            <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">Node.JS</span>
                                                            <br>
                                                            <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">Bootstrap4</span>
                                                            <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">MongoDB</span>
                                                            <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">CSS3</span>
                                                            <br>
                                                            <a id="GameBtn" class="btn btn-info" style="margin-top: 10px;letter-spacing: 0px">Read more</a>
                                                        </p>
                                                </div>    
                                            </div>
                                    </div>
                            </div>
                            <div class="col-lg-12">
                                    <div class="containers">
                                            <img src="/Images/Prosthetic Hand.PNG" style="height: 300px" class="image">
                                            <div class="overlay">
                                                <div class="text" style="display: inline-block;letter-spacing: 0;color: #04C2C9;font-family: 'Montserrat', sans-serif;font-weight: 600">
                                                    Prosthetic Hand
                                                </div>
                                                <div class="text">
                                                        <p style="line-height: 2.5rem">
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">AutoDesk Inventor</span>
                                                                <span style="background-color:white; border-radius: 7px;padding: 8px; font-size: 14px;letter-spacing: 0;color: black;font-family: 'Montserrat',sans-serif">AutoCAD</span>
                                                                <br>
                                                                <a id="HandBtn" class="btn btn-info" style="margin-top: 10px;letter-spacing: 0px">Read more</a>
                                                        </p>
                                                </div>    
                                            </div>
                                    </div>
                            </div>
        
                        </div>
                    </div> 
                    
            </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
          <span style="text-align: right;" class="close">&times;</span>
          <p>
            <div class="card-header" style="background-color: transparent;font-size: 20px;border:0;padding: 0;">
                <span>
                    <span id="projects" style="font-size: 30px;display: flex; justify-content: center;color: white">BloggersInc</span>   
                </span>
              </div> 

              <div class="card-block special-card" style="color: white; padding: 12px 20px; font-size: 15px">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators" style="border: 0">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active" style="border: 0">
                      <img src="/Images/BloggersInc.PNG" class = "w-100" style="height: 400px" alt="...">
                    </div>
                    <div class="carousel-item" style="border: 0">
                      <img src="/Images/BloggersInc2.PNG" class = "w-100" style="width: 600x;height: 400px" alt="...">
                    </div>
                    <div class="carousel-item" style="border: 0">
                      <img src="/Images/BloggersInc3.PNG" class = "w-100" style="width: 600x;height: 400px" alt="...">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <p style="line-height: 2.5rem; text-align: center">
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">HTML5</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">Javascript</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">Node.JS</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">Semantic UI</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">MongoDB</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">CSS3</span>
                </p>
                <span style="color: black">
                    This is one of my favourite websites I have created so far. MongoDB was used to store user data and create links between different sets of data. Passport JS library was used to create a safe login form and authenticate users safely. The website also involes restful routing, allows user to create or edit their blogs, and make or edit their comments. A functional search bar was made using mongoose and express libraries. MongoDB allowed user profiles to be created and Semantic UI was used for styling the profile cards,which can be viewed,users can also view other authors' profiles, and see how many blogs that particular author created.
                </span>
                <p style="margin-bottom: 0;margin-top: 10px">
                  <span class="closeBtn btn btn-info" ><i class="angle left icon"></i>Back</span>
                </p> 
              </div> 
          </p>
        </div>
    </div>
    <div id="myModal1" class="modal">
        <div class="modal-content">
          <span style="text-align: right;" class="close">&times;</span>
          <p>
            <div class="card-header" style="background-color: transparent;font-size: 20px;border:0;padding: 0;">
                <span>
                    <span id="projects" style="font-size: 30px;display: flex; justify-content: center;color: white">CampInsiders</span>   
                </span>
              </div> 

              <div class="card-block special-card" style="color: white; padding: 12px 20px; font-size: 15px">
                <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators" style="border: 0">
                    <li data-target="#carouselExampleIndicators1" data-slide-to="0"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active" style="border: 0">
                      <img src="/Images/CampInsiders.PNG" class = "w-100" style="height: 400px" alt="...">
                    </div>
                    <div class="carousel-item" style="border: 0">
                      <img src="/Images/CampInsiders2.PNG" class = "w-100" style="width: 600x;height: 400px" alt="...">
                    </div>
                    <div class="carousel-item" style="border: 0">
                      <img src="/Images/CampInsiders3.PNG" class = "w-100" style="width: 600x;height: 400px" alt="...">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <p style="line-height: 2.5rem; text-align: center">
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">HTML5</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">Javascript</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">Node.JS</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">Bootstrap4</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">MongoDB</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">CSS3</span>
                </p>
                <span style="color: black">
                    This is the first full-stack website I have made from scratch. This site allows users to edit and create campgrounds, give reviews, and also edit and create comments on the campgrounds,all this data are stored in non relational database created by MongoDB. Express library was used to involve the routes needed to make html requests. I implemented PassportJS for user authentication and the website also involves restful routing. The front end is done, the backend needs some final touches. A responsive search engine was implemented to search for any available campgrounds. I also had to include a google maps API just so that when user could add a location that would be displayed on google maps.     
                </span>
                <p style="margin-bottom: 0;margin-top: 10px">
                  <span class="closeBtn btn btn-info" ><i class="angle left icon"></i>Back</span>
                </p> 
              </div> 
          </p>
        </div>
    </div>
    <div id="myModal2" class="modal">
        <div class="modal-content">
          <span style="text-align: right;" class="close">&times;</span>
          <p>
            <div class="card-header" style="background-color: transparent;font-size: 20px;border:0;padding: 0;">
                <span>
                    <span id="projects" style="font-size: 30px;display: flex; justify-content: center;color: white">GameCon</span>   
                </span>
              </div> 

              <div class="card-block special-card" style="color: white; padding: 12px 20px; font-size: 15px">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators" style="border: 0">
                    <li data-target="#carouselExampleIndicators2" data-slide-to="0"></li>
                    <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active" style="border: 0">
                      <img src="/Images/GameCon.PNG" class = "w-100" style="height: 400px" alt="...">
                    </div>
                    <div class="carousel-item" style="border: 0">
                      <img src="/Images/GameCon2.PNG" class = "w-100" style="width: 600x;height: 400px" alt="...">
                    </div>
                    <div class="carousel-item" style="border: 0">
                      <img src="/Images/GameCon3.PNG" class = "w-100" style="width: 600x;height: 400px" alt="...">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <p style="line-height: 2.5rem; text-align: center">
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">HTML5</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">Javascript</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">Node.JS</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">Bootstrap4</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">MongoDB</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">CSS3</span>
                </p>
                <span style="color: black">
                    This is a game review website that I have created. It allows users to add new games, add reviews and edit them, and also allow the users to make or edit their comments on the games. The website involves passportJS for user authentication and MongoDB was used to create and store non relational databases. The website requires little backend work, I also implemented Express libary which allowed me to easily send HTML requests to the web server.
                </span>
                <p style="margin-bottom: 0;margin-top: 10px">
                  <span class="closeBtn btn btn-info" ><i class="angle left icon"></i>Back</span>
                </p> 
              </div> 
          </p>
        </div>
    </div>
    <div id="myModal3" class="modal">
        <div class="modal-content">
          <span style="text-align: right;" class="close">&times;</span>
          <p>
            <div class="card-header" style="background-color: transparent;font-size: 20px;border:0;padding: 0;">
                <span>
                    <span id="projects" style="font-size: 30px;display: flex; justify-content: center;color: white">Prosthetic Hand</span>   
                </span>
              </div> 

              <div class="card-block special-card" style="color: white; padding: 12px 20px; font-size: 15px">
                <div class="row">
                <div class="col-3"></div>
                <div class="col-md-6 col-12">
                <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators" style="border: 0">
                    <li data-target="#carouselExampleIndicators3" data-slide-to="0"></li>
                    <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active" style="border: 0">
                      <img src="/Images/Prosthetic Hand.PNG" class = "w-100" style="height: 300px" alt="...">
                    </div>
                    <div class="carousel-item" style="border: 0">
                      <img src="/Images/Prosthetic Hand2.PNG" class = "w-100" style="width: 600x;height: 300px" alt="...">
                    </div>
                    <div class="carousel-item" style="border: 0">
                      <img src="/Images/Prosthetic Hand3.PNG" class = "w-100" style="width: 600x;height: 300px" alt="...">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                </div>
                <div class="col-3"></div>
                </div>
                <p style="line-height: 2.5rem; text-align: center">
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">AutoDesk Inventor</span>
                    <span style="background-color:white; border-radius: 7px;padding: 8px;color: black;">AutoCAD</span>
                </p>
                <span style="color: black">
                    The aim of this project was to make a fully functional gear train, that will move the thumb and the index finger at a certain output speed with a certain input speed. I worked in group of 3 to get the job done. I did the preliminary sketches, and almost all of the drawings, we made in this project. I used AutoDesk Inventor to CAD some of the spur gears, and made some gear calculations too. We were successful in getting the design to work. This project demonstrates my ability to work with others, coming up with really good ideas, and also my abilities of CAD.
                </span>
                <p style="margin-bottom: 0;margin-top: 10px">
                  <span class="closeBtn btn btn-info" ><i class="angle left icon"></i>Back</span>
                </p> 
              </div> 
          </p>
        </div>
    </div>
    <div id="skillset" style="padding-top: 50px">
        <div class="card-transparent">
            <div class="card-header-selector card-header-none" style="font-size: 20px;border-bottom: 0;padding-left: 0;">
                <span>
                    <span style="font-size: 14px;text-align: left; color: #04C2C9">SKILLS</span>   
                </span>
            </div> 
            <div class="card-block-selector card-block-none" style="color: white; border-top: 0;padding: 12px 20px; font-size: 15px">
                    <div class="row" style="margin-top: 20px">
                        <div class="col-4">
                            <p><img class="skills-image" srcset="/Images/html5.png" style="width: 100px; height: 100px; display: flex; justify-content: center;margin: 0 auto;"></p>
                            <span style="display: flex; justify-content: center;margin: 0 auto; margin-bottom: 20px; font-size: 20px; font-weight: 600; color: white">HTML5</span>
                            <div class="container1" style="margin-bottom:30px">
                            <div style="height: 16px" class="skills zero"></div>
                            </div>
                        </div>
                        <div class="col-4">
                                <p><img class="skills-image" srcset="/Images/bootstrap4.png" style="width: 100px; height: 100px; display: flex; justify-content: center;margin: 0 auto;"></p>
                                <span style="display: flex; justify-content: center;margin: 0 auto;margin-bottom: 20px; font-size: 20px; font-weight: 600;color: white">Bootstrap4</span>
                                <div class="container1" style="margin-bottom:30px">
                                <div style="height: 16px" class="skills zero"></div>
                                </div>
                        </div>
                        <div class="col-4">
                            <p><img class="skills-image" srcset="/Images/css3.png" style="width: 100px; height: 100px; display: flex; justify-content: center;margin: 0 auto;"></p>
                            <span style="display: flex; justify-content: center;margin: 0 auto;margin-bottom: 20px; font-size: 20px; font-weight: 600;color: white">CSS3</span>
                            <div class="container1" style="margin-bottom:30px">
                            <div style="height: 16px" class="skills zero"></div>
                            </div>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p><img class="skills-image" srcset="/Images/js.png" style="width: 100px; height: 100px; display: flex; justify-content: center;margin: 0 auto;"></p>
                            <span style="display: flex; justify-content: center;margin: 0 auto;margin-bottom: 20px; font-size: 20px; font-weight: 600;color: white">Javascript</span>
                            <div class="container1" style="margin-bottom:30px">
                                <div style="height: 16px" class="skills zero"></div>
                            </div>
                        </div> 
                        <div class="col-4">
                            <p><img class="skills-image" srcset="/Images/mongodb.png" style="width: 100px; height: 100px; display: flex; justify-content: center;margin: 0 auto;"></p>
                            <span style="display: flex; justify-content: center;margin: 0 auto;margin-bottom: 20px; font-size: 20px; font-weight: 600;color: white">MongoDB</span>
                            <div class="container1" style="margin-bottom:30px">
                            <div style="height: 16px" class="skills zero"></div>
                            </div>
                        </div>
                        <div class="col-4">
                            <p><img class="skills-image" srcset="/Images/python.png" style="width: 100px; height: 100px; display: flex; justify-content: center;margin: 0 auto;"></p>
                            <span style="display: flex; justify-content: center;margin: 0 auto;margin-bottom: 20px; font-size: 20px; font-weight: 600;color: white">Python</span>
                            <div class="container1" style="margin-bottom:30px">
                            <div style="height: 16px" class="skills zero"></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                            <div class="col-4">
                                    <p><img class="skills-image" srcset="/Images/nodejs.png" style="width: 150px; height: 150px; display: flex; justify-content: center;margin: 0 auto;"></p>
                                    <span style="display: flex; justify-content: center;margin: 0 auto;margin-bottom: 20px; font-size: 20px; font-weight: 600;color: white">NodeJS</span>
                                    <div class="container1" style="margin-bottom:30px">
                                    <div style="height: 16px" class="skills zero"></div>
                                    </div>
                                </div>  
                    </div>
            </div> 
        </div>
    </div>
    <div id="contact" style="padding-top: 50px">
            <div class="card-transparent">
                    <div class="card-header-selector card-header-none" style="font-size: 20px;border-bottom: 0">
                        <span>
                            <span style="font-size: 14px;text-align: left; color: #04C2C9">CONTACT</span>   
                        </span>
                    </div> 
                    <div class="card-block-selector card-block-none" style="color: white;padding: 12px 20px; font-size: 15px">
                            <form action="/email" method="POST">
                                <div class="form-group">
                                    <label style="color: white">Email</label>
                                    <input type="email"  class="form-control" name="email" >
                                </div>
                                <div class="form-group">
                                      <label style="color: white">Subject</label>
                                      <input type="text"  class="form-control" name="subject" >
                                </div>
                                <div class="form-group">
                                      <label style="color: white">Message</label>
                                      <textarea class="form-control" rows="10" name="message" ></textarea>
                                </div>
                                <input type="submit" value="Submit" class="btn btn-info">
                            </form>
                    </div> 
            </div>
    </div>
</div>

<% include partials/footer %>