<% include partials/header %>
<div id="follower" style="padding: 0px">
    <div id="circle1"></div>
    <div id="circle2"></div>
</div>  
<style>
    .card-header-none{
        margin-left: 50%;
        opacity: 0
    }
    .card-header{
        opacity: 1;
        margin-left: 0;
        -webkit-animation:slide-in 0.75s ease-in; /* Safari & Chrome */
        -moz-animation:slide-in 0.75s ease-in; /* Firefox */
        -ms-animation:slide-in 0.75s ease-in; /* Internet Explorer */
        -o-animation:slide-in 0.75s ease-in; /* Opera */
        animation: slide-in 0.75s ease-in
    }
    @keyframes slide-in{
    0%{
        margin-left: 50%;
        opacity: 0
    }
    100%{
        margin-left: 0;
        opacity: 1;
    }
    }
    .-none{
        margin-left: 50%;
        opacity: 0
    }
    .card-block-none{
        margin-left: 50%;
        opacity: 0
    }
    .hr-animate{
        width: 100%;
        -webkit-animation:loading-bar 0.75s ease-in; /* Safari & Chrome */
        -moz-animation:loading-bar 0.75s ease-in; /* Firefox */
        -ms-animation:loading-bar 0.75s ease-in; /* Internet Explorer */
        -o-animation:loading-bar 0.75s ease-in;
        animation: loading-bar 0.75s ease-in
    }
    @keyframes loading-bar {
        0%{
            width: 0%
        };
        100%{
            width: 100%
        }
    }
    .card-block{
        margin: 0px;
        -webkit-animation:slide-up 1s ease-in; /* Safari & Chrome */
        -moz-animation:slide-up 1s ease-in; /* Firefox */
        -ms-animation:slide-up 1s ease-in; /* Internet Explorer */
        -o-animation:slide-up 1s ease-in;
        animation: slide-up 1s ease-in
    }
    @keyframes slide-up {
        0%{
            opacity: 0;
            margin-top: 250px
        }
        100%{
            opacity: 1;
            margin-top: 0
        }
    }
    .skills-image:hover{
        transform: scale(1.3)
    }
</style>
<canvas id="scene" style="background-color: black">
    
</canvas>
<div class="animate_text" style="margin-top: 30px"><h1>Hi! I am Labeeb!</h1> </div>
<div class="container">
    <div id="intro" style="padding-top: 50px">
            <div  class="card-transparent">
                    <div class="card-header-selector card-header-none" style="background-color: white;font-size: 20px;border-bottom: 0">
                        <i style="float: left; font-size: 55px" class="user circle icon"></i>
                        <span>
                            <span style="font-size: 30px;text-align: left; color: #04C2C9">Introduction</span>   
                            <p style="margin: 0%; font-size: 22px; color:#A9A9A9;text-align: left">About Me</p>   
                        </span>
                    </div> 
                    <hr class="hr-selector -none" style="border: 1px solid green; margin: 5px">
                    <div class="card-block-selector card-block-none" style="color: black; border: 2px solid white; border-top: 0;padding: 12px 20px; font-size: 20px">
                        I'm currently in my second year of Mechatronics Engineering at McMaster University. I have been coding for almost 2 years now, I really enjoy coding, collaborating with others and learning new approaches from them. In my leisure time, I enjoy programming, playing soccer, listening to technical podcasts and playing video games.
            
                        <p style="margin-top: 10px">You can also view my resume here:</p>
                        <a href="/Images/labeebzaker_resume.pdf" target="_blank" class="btn btn-outline-danger"><i class="download icon"></i>View Resume</a>
                    </div> 
                </div>
    </div>
    <div id="projects" style="padding-top: 50px">
            <div class="card-transparent">
                    <div class="card-header-selector card-header-none" style="background-color: white;font-size: 20px;border: 0">
                        <i style="float: left; font-size: 55px" class="chart line icon"></i>
                        <span>
                            <span style="font-size: 30px;text-align: left; color: #04C2C9">Projects</span>   
                            <p style="margin: 0%; font-size: 22px; color:#A9A9A9;text-align: left">Some of my projects</p>   
                        </span>
                    </div> 
                    <hr class="hr-selector -none" style="border: 1px solid green; margin: 5px">
                    <div class="card-block-selector card-block-none" style="color: white; border: 2px solid white; border-top: 0;padding: 12px 20px; font-size: 15px">
                        <div class="row">
                            <div class="col-lg-6 col-md-9">
                                    <div class="containers">
                                            <img src="/Images/BloggersInc.PNG" class="image">
                                            <div class="overlay">
                                                <div class="text" style="display: inline-block;letter-spacing: 0;color: black;font-family: 'Titillium Web', sans-serif;font-weight: 600">
                                                    BloggersInc
                                                </div>
                                                <div class="text">
                                                        <p style="line-height: 2.5rem; margin-top: 20px">
                                                                <span style="background-color:red; border-radius: 7px;padding: 8px;">HTML5</span>
                                                                <span style="background-color:  #EEE8AA; border-radius: 7px;padding: 8px">Javascript</span>
                                                                <span style="background-color: 	green; border-radius: 7px;padding: 8px">Node.JS</span>
                                                                <span style="background-color: 	#00FA9A; border-radius: 7px;padding: 8px">Semantic UI</span>
                                                                <span style="background-color: 	green; border-radius: 7px;padding: 8px">MongoDB</span>
                                                                <span style="background-color: 	blue; border-radius: 7px;padding: 8px">CSS</span>
                                                                <a href="/projectcards/BloggerInc" class="btn btn-danger" style="margin-top: 10px;letter-spacing: 1px">Read more</a>
                                                        </p>
                                                </div>    
                                            </div>
                                    </div>
                            </div>
                            <div class="col-lg-6 col-md-9">
                                    <div class="containers">
                                            <img src="/Images/CampInsiders.PNG" class="image">
                                            <div class="overlay">
                                                <div class="text" style="display: inline-block;letter-spacing: 0;color: black;font-family: 'Titillium Web', sans-serif;font-weight: 600">
                                                    CampInsiders
                                                </div>
                                                <div class="text">
                                                        <p style="line-height: 2.5rem; margin-top: 20px">
                                                                <span style="background-color:red; border-radius: 7px;padding: 8px;">HTML5</span>
                                                                <span style="background-color:  #EEE8AA; border-radius: 7px;padding: 8px">Javascript</span>
                                                                <span style="background-color: 	green; border-radius: 7px;padding: 8px">Node.JS</span>
                                                                <span style="background-color: 	#563d7c; border-radius: 7px;padding: 8px">Bootstrap4</span>
                                                                <span style="background-color: 	green; border-radius: 7px;padding: 8px">MongoDB</span>
                                                                <span style="background-color: 	blue; border-radius: 7px;padding: 8px">CSS</span>
                                                                <a href="/projectcards/CampInsiders" class="btn btn-danger" style="margin-top: 10px;letter-spacing: 1px">Read more</a>
                                                        </p>
                                                </div>    
                                            </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px">
                            <div class="col-lg-6 col-md-9">
                                    <div class="containers">
                                            <img src="/Images/GameCon.PNG" class="image">
                                            <div class="overlay">
                                                <div class="text" style="display: inline-block;letter-spacing: 0;color: black;font-family: 'Titillium Web', sans-serif;font-weight: 600">
                                                    GameCon
                                                </div>
                                                <div class="text">
                                                        <p style="line-height: 2.5rem; margin-top: 20px">
                                                                <span style="background-color:red; border-radius: 7px;padding: 8px;">HTML5</span>
                                                                <span style="background-color:  #EEE8AA; border-radius: 7px;padding: 8px">Javascript</span>
                                                                <span style="background-color: 	green; border-radius: 7px;padding: 8px">Node.JS</span>
                                                                <span style="background-color: 	#563d7c; border-radius: 7px;padding: 8px">Bootstrap4</span>
                                                                <span style="background-color: 	green; border-radius: 7px;padding: 8px">MongoDB</span>
                                                                <span style="background-color: 	blue; border-radius: 7px;padding: 8px">CSS</span>
                                                                <a href="/projectcards/GameCon" class="btn btn-danger" style="margin-top: 10px;letter-spacing: 1px">Read more</a>
                                                        </p>
                                                </div>    
                                            </div>
                                    </div>
                            </div>
                            <div class="col-lg-6 col-md-9">
                                    <div class="containers">
                                            <img src="/Images/Prosthetic Hand.PNG" class="image">
                                            <div class="overlay">
                                                <div class="text" style="display: inline-block;letter-spacing: 0;color: black;font-family: 'Titillium Web', sans-serif;font-weight: 600">
                                                    Prosthetic Hand
                                                </div>
                                                <div class="text">
                                                        <p style="line-height: 2.5rem; margin-top: 20px">
                                                                <span style="background-color:#FF7F50; border-radius: 7px;padding: 8px; margin: 0 auto">AutoDesk Inventor</span>
                                                                <span style="background-color:#FF7F50; border-radius: 7px;padding: 8px; margin: 0 auto;;">AutoCAD</span>
                                                                <a href="/projectcards/ProstheticHand" class="btn btn-danger" style="margin-top: 10px;letter-spacing: 1px">Read more</a>
                                                        </p>
                                                </div>    
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div> 
                    
            </div>
    </div>
    <div id="skillset" style="padding-top: 50px">
        <div class="card-transparent">
            <div class="card-header-selector card-header-none" style="background-color: white;font-size: 20px;border-bottom: 0;">
                <i style="float: left; font-size: 55px" class="chart bar icon"></i>
                <span>
                    <span style="font-size: 30px;text-align: left; color: #04C2C9">Skills</span>   
                    <p style="margin: 0%; font-size: 22px; color:#A9A9A9;text-align: left">My skills</p>   
                </span>
            </div> 
            <hr class="hr-selector -none" style="border: 1px solid green; margin: 5px">
            <div class="card-block-selector card-block-none" style="color: white; border: 2px solid white; border-top: 0;padding: 12px 20px; font-size: 15px">
                    <div class="row" style="margin-top: 20px">
                        <div class="col-4">
                            <p><img class="skills-image" srcset="/Images/html5.png" style="width: 100px; height: 100px; display: flex; justify-content: center;margin: 0 auto;"></p>
                            <span style="display: flex; justify-content: center;margin: 0 auto; margin-bottom: 20px; font-size: 20px; font-weight: 600; color: black">HTML5</span>
                            <div class="container1" style="margin-bottom:30px">
                            <div style="height: 16px" class="skills zero"></div>
                            </div>
                        </div>
                        <div class="col-4">
                                <p><img class="skills-image" srcset="/Images/bootstrap4.png" style="width: 100px; height: 100px; display: flex; justify-content: center;margin: 0 auto;"></p>
                                <span style="display: flex; justify-content: center;margin: 0 auto;margin-bottom: 20px; font-size: 20px; font-weight: 600;color: black">Bootstrap4</span>
                                <div class="container1" style="margin-bottom:30px">
                                <div style="height: 16px" class="skills zero"></div>
                                </div>
                        </div>
                        <div class="col-4">
                            <p><img class="skills-image" srcset="/Images/css3.png" style="width: 100px; height: 100px; display: flex; justify-content: center;margin: 0 auto;"></p>
                            <span style="display: flex; justify-content: center;margin: 0 auto;margin-bottom: 20px; font-size: 20px; font-weight: 600;color: black">CSS3</span>
                            <div class="container1" style="margin-bottom:30px">
                            <div style="height: 16px" class="skills zero"></div>
                            </div>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p><img class="skills-image" srcset="/Images/js.png" style="width: 100px; height: 100px; display: flex; justify-content: center;margin: 0 auto;"></p>
                            <span style="display: flex; justify-content: center;margin: 0 auto;margin-bottom: 20px; font-size: 20px; font-weight: 600;color: black">Javascript</span>
                            <div class="container1" style="margin-bottom:30px">
                                <div style="height: 16px" class="skills zero"></div>
                            </div>
                        </div> 
                        <div class="col-4">
                            <p><img class="skills-image" srcset="/Images/mongodb.png" style="width: 100px; height: 100px; display: flex; justify-content: center;margin: 0 auto;"></p>
                            <span style="display: flex; justify-content: center;margin: 0 auto;margin-bottom: 20px; font-size: 20px; font-weight: 600;color: black">MongoDB</span>
                            <div class="container1" style="margin-bottom:30px">
                            <div style="height: 16px" class="skills zero"></div>
                            </div>
                        </div>
                        <div class="col-4">
                            <p><img class="skills-image" srcset="/Images/python.png" style="width: 100px; height: 100px; display: flex; justify-content: center;margin: 0 auto;"></p>
                            <span style="display: flex; justify-content: center;margin: 0 auto;margin-bottom: 20px; font-size: 20px; font-weight: 600;color: black">Python</span>
                            <div class="container1" style="margin-bottom:30px">
                            <div style="height: 16px" class="skills zero"></div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                            <div class="col-4">
                                    <p><img class="skills-image" srcset="/Images/nodejs.png" style="width: 150px; height: 150px; display: flex; justify-content: center;margin: 0 auto;"></p>
                                    <span style="display: flex; justify-content: center;margin: 0 auto;margin-bottom: 20px; font-size: 20px; font-weight: 600;color: black">NodeJS</span>
                                    <div class="container1" style="margin-bottom:30px">
                                    <div style="height: 16px" class="skills zero"></div>
                                    </div>
                                </div>  
                    </div>
            </div> 
        </div>
    </div>
    <div id="contact" style="padding-top: 50px">
            <div class="card-transparent">
                    <div class="card-header-selector card-header-none" style="background-color: white;font-size: 20px;border-bottom: 0">
                        <i style="float: left; font-size: 55px" class="comments outline icon"></i>
                        <span>
                            <span style="font-size: 30px;text-align: left; color: #04C2C9">Contact</span>   
                            <p style="margin: 0%; font-size: 22px; color:#A9A9A9;text-align: left">Want to get in touch?</p>   
                        </span>
                    </div> 
                    <hr class="hr-selector -none" style="border: 1px solid green; margin: 5px">
                    <div class="card-block-selector card-block-none" style="color: white; border: 2px solid white; border-top: 0;padding: 12px 20px; font-size: 15px">
                            <form action="/email" method="POST">
                                <div class="form-group">
                                    <label style="color: black">Email</label>
                                    <input type="email"  class="form-control" name="email" >
                                </div>
                                <div class="form-group">
                                      <label style="color: black">Subject</label>
                                      <input type="text"  class="form-control" name="subject" >
                                </div>
                                <div class="form-group">
                                      <label style="color: black">Message</label>
                                      <textarea class="form-control" rows="10" name="message" ></textarea>
                                </div>
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </form>
                    </div> 
            </div>
    </div>
</div>

<% include partials/footer %>