<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/animate1.css">
        <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    </head>
    <style>
      .active{
        border: 0
      }
    </style>
    <body data-spy="scroll" data-target=".navbar" data-offset="100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
              <a class="navbar-brand" href="#">Labeeb</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/LHZ/portfolio#intro" id="intro-tab">Introduction</a>
                  </li>
                  <li class="nav-item">
                    <a href="/LHZ/portfolio#projects" class="nav-link" id="project-tab">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a href="/LHZ/portfolio#skillset" class="nav-link" id="skills-tab">Skills</a>
                  </li>
                  <li class="nav-item">
                    <a href="/LHZ/portfolio#contact" class="nav-link" id="contact-tab">Contact Me</a>
                  </li>
                </ul>
                <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/labeeb-hasan-zaker/" target="_blank"><img src="/Images/LinkedIn_logo.png" style="width: 24.22px; height:25.33px"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://github.com/zakerl" target="_blank"><img src="/Images/github_logo.svg" style="width: 24.22px; height:25.33px"></a>
                  </li>
                </ul>
              </div>
          </div>
        </nav>
        <div class="container">
          <% if(success && success.length > 0){ %>
              <div class="alert alert-success" role="alert">
                  <%= success %>
              </div>
          <% } %>
        </div>
        <div class="cursor"></div>
  
  <div class="container">
    <div class="card-header" style="background-color: white;font-size: 20px; margin-top: 4.5rem">
      <span>
          <span id="projects" style="font-size: 18px; color: black;display: flex; justify-content: center">BloggersInc.</span>   
      </span>
    </div> 
    <div class="card-block special-card" style="color: white; border: 2px solid white; border-top: 0;padding: 12px 20px; font-size: 15px">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators" style="border: 0">
          <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/Images/BloggersInc.PNG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/Images/BloggersInc2.PNG" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/Images/BloggersInc3.PNG" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <p style="line-height: 2.5rem; text-align: center">
          <span style="background-color:red; border-radius: 7px;padding: 8px">HTML5</span>
          <span style="background-color:  #EEE8AA; border-radius: 7px;padding: 8px">Javascript</span>
          <span style="background-color: 	green; border-radius: 7px;padding: 8px">Node.JS</span>
          <span style="background-color: 	#00FA9A; border-radius: 7px;padding: 8px">Semantic UI</span>
          <span style="background-color: 	green; border-radius: 7px;padding: 8px">MongoDB</span>
          <span style="background-color: 	blue; border-radius: 7px;padding: 8px">CSS</span>
      </p>
      This is one of my favourite websites I have created so far. MongoDB was used to store user data and create links between different sets of data. Passport JS library was used to create a safe login form and authenticate users safely. The website also involes restful routing, allows user to create or edit their blogs, and make or edit their comments. A functional search bar was made using mongoose and express libraries. MongoDB allowed user profiles to be created and Semantic UI was used for styling the profile cards,which can be viewed,users can also view other authors' profiles, and see how many blogs that particular author created.
      <p style="margin-bottom: 0;margin-top: 10px">
        <a href="/back" class="btn btn-outline-primary"><i class="angle left icon"></i>Back</a>
      </p> 
    </div> 
  </div>
       
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script src="/scripts/animate1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/scripts/app.js"></script>
  </body>
</html>
